.form-wrap-main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: toRem(15);
    grid-row-gap: toRem(20);
    @media screen and (max-width: 575px) {
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 1.5rem;
    }
}

.primary-form-group {
    .primary-form-group-wrap {
        position: relative;
        // &:has(input.date-time-picker) {
        //   &::after {
        //     content: "";
        //     position: absolute;
        //     top: 50%;
        //     right: 0;
        //     transform: translateY(-50%);
        //     width: 15px;
        //     height: 15px;
        //     background-color: red;
        //     background-image: url(../../images/icon/calendar-icon.svg);
        //   }
        // }
        .form-label {
            position: absolute;
            display: inline-block;
            padding: 0 toRem(10);
            margin: 0;
            top: 0;
            left: toRem(13);
            background-color: var(--white);
            transform: translateY(-50%);
            @include fontFamily(12, $fw_regular, 16, $colorOne);
            z-index: 1;
        }

        .primary-form-control {
            width: 100%;
            padding: toRem(16) toRem(23);
            border-radius: toRem(12);
            border: 1px solid $border-color;
            font-family: $bodyFont;
            @include fontFamily(14, $fw_medium, 24, $text-black);
            box-shadow: none;

            &:focus {
                color: $text-black;
            }

            &:hover,
            &:focus {
                border-color: var(--primary-color);
            }

            &::placeholder {
                @include fontFamily(14, $fw_medium, 24, $colorOne);
            }

            &[type="file"] {
                cursor: pointer;
                @include fontFamily(14, $fw_regular, 24, $black);

                &::-webkit-file-upload-button {
                    margin-right: toRem(12);
                    padding: toRem(2) toRem(10);
                    border: 0;
                    border-radius: toRem(6);
                    background-color: $color14;
                    @include fontFamily(14, $fw_medium, 24, $black);
                }

                &::file-selector-button {
                    margin-right: toRem(12);
                    padding: toRem(2) toRem(10);
                    border: 0;
                    border-radius: toRem(6);
                    background-color: $color14;
                    @include fontFamily(14, $fw_medium, 24, $black);
                }
            }
        }

        select {
            &.primary-form-control {
                color: $colorOne;
            }
        }

        // &:has(.summernoteOne) {
        .summernoteOne ~ .note-editor {
            border: toRem(1) solid $border-color !important;
            border-radius: toRem(12);
            padding: toRem(15) toRem(20);
        }
    }
}

.continue-btn-list {
    display: flex;
    align-items: center;
    grid-column-gap: 1rem;
    justify-content: center;
    margin-top: 1.5rem;

    .continue-btn {
        @include flex-position(flex, center, center);
        width: toRem(56);
        height: toRem(56);
        border-radius: 50%;
        background-color: #f9f9f9;
        transition: $transition;
        border: none;
        box-shadow: none;

        img {
            max-width: toRem(27);
            object-fit: cover;
        }

        &:hover {
            background-color: var(--primary-color);
        }
    }
}

.under-border-one {
    &::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 1px;
        background: var(--border-color);
        left: 0;
        top: 50%;
        transform: translateY(-50%);
    }
}

.sf-sortable-form {
    .form-builder {
        @media screen and (max-width: 575px) {
            display: flex;
            flex-direction: column-reverse;
            row-gap: toRem(20);
        }
        // Form field
        ul.stage-wrap {
            width: 70% !important;
            border: 1px solid $stroke-color !important;
            border-radius: 10px;
            background-color: $white !important;
            padding: 30px 25px !important;
            @media screen and (max-width: 767px) {
                width: 68% !important;
            }
            @media screen and (max-width: 575px) {
                width: 100% !important;
            }

            li {
                // hoverDropStyleInverse ui-sortable-placeholder ui-state-highlight
                &.hoverDropStyleInverse {
                    background-color: $primary-color !important;
                    border-color: $primary-color !important;
                    border-radius: 5px;
                }

                &.form-field {
                    border-color: $stroke-color !important;
                    margin-bottom: toRem(26);
                    border-radius: 0 !important;

                    &:last-child {
                        margin-bottom: 0;
                    }

                    .field-actions {
                        .btn {
                            border-color: $stroke-color !important;
                        }

                        .del-button {
                            &:hover {
                                background-color: $red !important;
                                border-color: $red !important;
                            }
                        }

                        .copy-button {
                            &:hover {
                                background-color: $green !important;
                                border-color: $green !important;
                            }
                        }

                        .sort-button {
                            &:hover {
                                color: $text-black;
                            }
                        }
                    }

                    label {
                        &.field-label {
                            font-size: toRem(14);
                            font-weight: $fw_medium;
                            line-height: toRem(20);
                            color: $text-black;
                            margin-bottom: toRem(8);
                        }
                    }

                    input,
                    textarea,
                    div[name="label"] {
                        width: 100% !important;
                        height: auto;
                        padding: toRem(13) toRem(20) toRem(15) !important;
                        font-size: toRem(14);
                        font-weight: $fw_regular;
                        line-height: toRem(22);
                        color: $text-black;
                        background-color: $white !important;
                        border: toRem(1) solid $stroke-color !important;
                        border-radius: toRem(8);
                        box-shadow: none !important;

                        &:focus,
                        &:hover {
                            border: toRem(1) solid $primary-color;
                            color: $bColor !important;
                            background-color: $white !important;
                            box-shadow: 0 0 0 rgb(0 0 0 / 0);
                        }

                        &::placeholder {
                            font-size: toRem(12);
                            font-weight: $fw_regular;
                            color: $bColor;
                        }
                    }

                    textarea {
                        resize: none;
                    }

                    .required-asterisk {
                        color: $red;
                    }

                    select {
                        border: toRem(1) solid $stroke-color;
                        border-radius: toRem(8);
                        padding: toRem(14) toRem(20);
                        width: 100%;
                        // display: flex;
                        // justify-content: space-between;
                        // align-items: center;
                        background-color: $white;
                        @include fontFamily(14, $fw_regular, 22, $bColor);
                        height: auto;
                        box-shadow: none;
                    }

                    .checkbox-group,
                    .radio-group {
                        display: flex;
                        flex-wrap: wrap;
                        gap: toRem(10) toRem(32);

                        .formbuilder-checkbox,
                        .formbuilder-radio {
                            display: flex;
                            align-items: center;
                            gap: toRem(7);
                        }

                        input {
                            width: auto !important;
                            margin: 0;
                        }

                        label {
                            font-size: toRem(14);
                            font-weight: $fw_regular;
                            line-height: toRem(20);
                            color: $bColor;
                        }
                    }

                    .form-elements {
                        background: $body-bg;
                        border-color: $stroke-color !important;
                        border-radius: toRem(8);

                        .form-group {
                            .input-wrap {
                                input[type="checkbox"] {
                                    width: auto !important;
                                    margin-top: 12px !important;
                                }
                            }

                            .sortable-options {
                                background: $stroke-color;
                                border-radius: toRem(8);

                                > li {
                                    &:first-child {
                                        border-radius: toRem(8) toRem(8) 0 0;
                                    }

                                    &:last-child {
                                        border-radius: 0 0 toRem(8) toRem(8);
                                    }

                                    > input {
                                        &:first-child {
                                            width: 5% !important;
                                        }

                                        width: calc(44.5% - 17px) !important;
                                    }
                                }

                                &-wrap {
                                    .option-actions {
                                        a {
                                            background: $primary-color;
                                            padding: toRem(10) toRem(26);
                                            border: toRem(1) solid $primary-color;
                                            font-size: toRem(15);
                                            border-radius: toRem(8);
                                            color: $white;
                                            font-weight: $fw_semiBold;
                                            line-height: toRem(25);
                                            margin-top: toRem(10);
                                            display: inline-flex;
                                            cursor: pointer;
                                        }
                                    }
                                }
                            }

                            &:first-child {
                                @media screen and (max-width: 767px) {
                                    label {
                                        width: 24%;
                                        text-align: left;
                                    }
                                    .input-wrap {
                                        width: 70%;
                                    }
                                }
                                @media screen and (max-width: 575px) {
                                    label {
                                        width: 50%;
                                    }
                                }
                            }

                            &:not(:first-child) {
                                @media screen and (max-width: 767px) {
                                    .input-wrap,
                                    label {
                                        width: 100%;
                                    }
                                    .input-wrap {
                                        margin-left: 0%;
                                    }
                                    label {
                                        text-align: left;
                                        // margin-left: 2%;
                                    }
                                }
                            }
                        }

                        .close-field {
                            color: $white;
                            top: toRem(50);
                            bottom: auto;
                            right: toRem(15);
                            left: auto;
                            background: var(--red);
                            border: toRem(1) solid var(--stroke-color);
                            padding: toRem(5) toRem(10);
                            border-radius: toRem(8);
                            @media screen and (max-width: 767px) {
                                right: 0;
                            }
                        }
                    }

                    &:hover {
                        .field-actions {
                            @media screen and (max-width: 330px) {
                                position: relative;
                            }
                        }
                    }

                    &.editing {
                        .form-elements {
                            .close-field {
                                @media screen and (max-width: 481px) {
                                    top: toRem(80);
                                }
                            }
                        }
                    }
                }

                &.delete {
                    background-color: $red !important;
                    border-color: $red !important;
                }
            }

            &.empty {
                &::after {
                    color: $white;
                }
            }
        }

        // Form options
        .cb-wrap {
            width: 27% !important;
            @media screen and (max-width: 767px) {
                width: 29% !important;
            }
            @media screen and (max-width: 575px) {
                width: 50% !important;
                margin: auto;
                position: relative !important;
            }
            @media screen and (max-width: 482px) {
                width: 100% !important;
                inset: unset !important;
            }

            ul.frmb-control {
                border-radius: toRem(10);
                border: toRem(1) solid $stroke-color;

                li {
                    box-shadow: none;
                    padding: toRem(15) toRem(23);
                    margin-bottom: 0 !important;

                    &:first-child {
                        border-radius: toRem(10) toRem(10) 0 0;
                    }

                    &:last-child {
                        border-radius: 0 0 toRem(10) toRem(10);
                    }

                    &:hover {
                        background-color: $primary-color;
                    }
                }
            }
        }
    }

    .rendered-form {
        > div,
        .row div{
            position: relative;

            label {
                position: absolute;
                display: inline-block;
                padding: 0 toRem(10);
                margin: 0;
                top: 0;
                left: toRem(13);
                background-color: var(--white);
                transform: translateY(-50%);
                @include fontFamily(12, $fw_regular, 16, $colorOne);
                z-index: 1;
                &:has(~ .checkbox-group),
                &:has(~ .radio-group){
                    position: relative;
                    margin-bottom: 0.5rem;
                    left: toRem(13);
                }
            }

            input, select {
                width: 100%;
                padding: toRem(16) toRem(23);
                border-radius: toRem(12);
                border: 1px solid $border-color;
                font-family: $bodyFont;
                @include fontFamily(14, $fw_medium, 24, $text-black);
                box-shadow: none;

                &:focus {
                    color: $text-black;
                }

                &:hover,
                &:focus {
                    border-color: var(--primary-color);
                }

                &::placeholder {
                    @include fontFamily(14, $fw_medium, 24, $colorOne);
                }

                &[type="file"] {
                    cursor: pointer;
                    @include fontFamily(14, $fw_regular, 24, $black);

                    &::-webkit-file-upload-button {
                        margin-right: toRem(12);
                        padding: toRem(2) toRem(10);
                        border: 0;
                        border-radius: toRem(6);
                        background-color: $color14;
                        @include fontFamily(14, $fw_medium, 24, $black);
                    }

                    &::file-selector-button {
                        margin-right: toRem(12);
                        padding: toRem(2) toRem(10);
                        border: 0;
                        border-radius: toRem(6);
                        background-color: $color14;
                        @include fontFamily(14, $fw_medium, 24, $black);
                    }
                }
            }

            .formbuilder {
                &-checkbox,
                &-radio {
                    label {
                        position: relative !important;
                        transform: initial;
                    }
                    input{
                        width: auto !important;
                    }
                }
            }
        }
        .row {
            row-gap: 20px;
            div{
                label{
                    left: toRem(21);
                }
            }
        }
        &:not(&:has(.row)){
                display: flex;
                flex-direction: column;
                row-gap: 20px;
        }
    }
}
